[workspace]

members = [
  "constants",
  "cstr",
  "odbc",
  "definitions",
  "core",
  "integration_test",
  "win_setupgui",
  "shared_sql_utils",
  "logger",
  "macos_postinstall",
  "rfc8252_http_server",
]


[workspace.lints.clippy]
unnecessary_cast = "deny"
cast_lossless = "deny"
cast_possible_truncation = "deny"
cast_possible_wrap = "deny"
cast_precision_loss = "deny"
ptr_as_ptr = "deny"


[profile.release]
debug = true
