[workspace]

members = [
  "constants",
  "cstr",
  "odbc",
  "odbc-sys",
  "core",
  "integration_test",
  "file_dbg_macros",
  "win_setupgui",
  "shared_sql_utils",
  "macos_postinstall",
]

[profile.release-with-debug]
inherits = "release"
debug = true
