[package]
name = "integration_test"
version = "0.0.0"
edition = "2021"

[dependencies]
serde = { version = "1.0.143", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9.4"
thiserror = "1"
lazy_static = "1"
odbc-sys = { path = "../odbc-sys", default-features = false }
cstr = { path = "../cstr" }
constants = { path = "../constants" }

[dependencies.mongodb]
version = "2.3"
default-features = false
features = ["tokio-sync"]
