[package]
name = "integration_test"
version = "0.0.0"
edition = "2021"

[dependencies]
serde = { version = "1.0.143", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9.4"
thiserror = "1"
odbc-api = { version = "0.45.1", features = ["narrow"] }
odbc = "0.17.0"
lazy_static = "1"
odbc-sys = { version = "0.21.2", default-features = false }
widechar = { path = "../widechar" }

[dependencies.mongodb]
version = "2.3"
default-features = false
features = ["tokio-sync"]
