<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2018-Present MongoDB Inc. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="BIN">
            <?if $(var.Platform)=x64?>
            <?define win64Flag = "yes"?>
            <?else ?>
            <?define win64Flag = "no"?>
            <?endif ?>
            <Component Id="InstallDriver"
                Guid="*"
                Win64="$(var.win64Flag)">
                <File Id="atsql.dll"
                    Name="atsql.dll"
                    Source="atsql.dll" />
                <File Id="atsqls.dll"
                    Name="atsqls.dll"
                    Source="atsqls.dll" />
                <RegistryKey ForceCreateOnInstall="yes"
                    ForceDeleteOnUninstall="yes"
                    Id="MongoDBKey"
                    Key="SOFTWARE\MongoDB\[ProductName]"
                    Root="HKLM" />
                <RegistryValue Id="Version"
                    Key="SOFTWARE\MongoDB\[ProductName]"
                    Name="Version"
                    Root="HKLM"
                    Type="string"
                    Value="[ProductVersion]" />
                <RegistryValue Id="mongodb.reg.installed"
                    Root="HKLM"
                    Key="SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers"
                    Name="MongoDB Atlas SQL ODBC Driver"
                    Type="string"
                    Value="Installed" />
                <RegistryValue Id="mongodb.reg.driver"
                    Root="HKLM"
                    Key="SOFTWARE\ODBC\ODBCINST.INI\MongoDB Atlas SQL ODBC Driver"
                    Name="Driver"
                    Type="string"
                    Value="[#atsql.dll]" />
                <RegistryValue Id="mongodb.reg.setup"
                    Root="HKLM"
                    Key="SOFTWARE\ODBC\ODBCINST.INI\MongoDB Atlas SQL ODBC Driver"
                    Name="Setup"
                    Type="string"
                    Value="[#atsqls.dll]" />
            </Component>
        </DirectoryRef>
        <ComponentGroup Id="base">
            <ComponentRef Id="InstallDriver" />
        </ComponentGroup>
    </Fragment>
</Wix>
